
{% extends "layout.html" %}
{% load static %}

{% block title %}Contact details - Ann Karanja{% endblock %}

{% block content %}
<main class="about-wrapper">
  <section id="contact">
  <h2>Contact Me</h2>
  <p>Let's connect — I'm open to opportunities and collaboration.</p>
  <div class="social-icons">
    <a href="https://wa.me/25471157397?text=Hi%20Anne!" target="_blank">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://www.linkedin.com/in/ann-karanja-278a3a355?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/Annie-815" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="mailto:karanjaann815@gmail.com">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</section>
</main>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="{% static 'js/about.js' %}"></script>


<script src="{% static 'js/about.js' %}"></script>
{% endblock %}
